<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
      <li id="search-bar" data-hook>
    </li>
      <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), spree.cart_path %>
      </noscript>
      &nbsp;
    </li>
  </ul>
  <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
</nav>
    <%= render partial: 'spree/shared/search' %>
